<h1 class="text-uppercase text-center"><span class="glyphicon glyphicon-file"></span> Add a Brand</h1>

<form class="user-form" action="/brand/add"" method="post">
    <label for="brandname">Brand Name</label>
    <input type="text" name="brandname" id="brandname" placeholder="Insert your Brand here" class="form-control" >
    <br>
    <button type="submit" class="btn btn-info">Add this Brand</button>
  </form>