<h1 class="text-uppercase text-center"><span class="glyphicon glyphicon-text-background"></span> All <%= @brand.name %> products</h1>

<ul>
    <% @products.each do |product| %>
  <li><%= product.name %>, costs you <%= product.price %>€</li>
  <% end %>
</ul>